<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <membership defaultProvider="DynamicMembershipProvider">
      <providers>
        <clear />
        <add name="DynamicMembershipProvider"
                  type="UserAdministrationTool.DynamicSqlMembershipProvider, UserAdministrationTool"
                  connectionStringName="xx"
                  applicationName="MyApp"
                  enablePasswordRetrieval="false"
                  enablePasswordReset="true"
                  requiresQuestionAndAnswer="false"
                  requiresUniqueEmail="false"
                  minRequiredNonalphanumericCharacters="0"
                  passwordFormat="Hashed" />
      </providers>
    </membership>
    
    <roleManager defaultProvider="DynamicRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="DynamicRoleProvider"
        type="UserAdministrationTool.DynamicSqlRoleProvider, UserAdministrationTool"
       connectionStringName="xx"
                  applicationName="MyApp"
  />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="xx" connectionString="xyz"/>
    
 

    
  </connectionStrings>
</configuration>